* {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 20px;
}
.barra {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  float: left;
}
nav ul {
  list-style: none;
  overflow: hidden;
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: rgba(0,0,0,0.9);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  font-size: 12px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button {
  text-align:center;
  border-radius: 5px;
  color: white;
  padding: 3% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 40%;
  height: 60;
}

.botton {
  text-align:center;
  border-radius: 5px;
  color: white;
  padding: 3% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 81%;
  height: 55;
}

.azul {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  background-color: #008CBA; 
  color: white; 
  border: 2px solid #008CBA;
}

.azul:hover {
  background-color: white;
  color: black;
}

.rojo {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  background-color: #f44336; 
  color: white; 
  border: 2px solid #f44336;
}

.rojo:hover {
  background-color: white;
  color: black;
}

.verde {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50; 
  color: white; 
  border: 2px solid #4CAF50;
}

.verde:hover {
  background-color: white;
  color: black;
}

.cerrar {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  background-color: #ccc; 
  color: white; 
  border: 2px solid #cccf;
}

.cerrar:hover {
  background-color: white;
  color: black;
}

.flotante {
    display:scroll;
    position:fixed;
    bottom:50%;
    right:2px;
    }

#flotante {
    border: 2px;
    padding: 10px;
    border-radius: 15px;
    }

#f1 {
    display:scroll;
    position:fixed;
    bottom:1%;
    left:2%;
    }

#password {
  border-radius: 7px;
}

  #user {
  border-radius: 7px;
  }

#caja {
  padding-top: 80px;
  margin-left: 5%
}

texto {
  font-family: times, serif; font-size:14pt; font-style:italic;
  color: black;
  size: 50px
}

hr.forma1 { 
  width: 80%;
  height: 20px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
}

hr.forma1:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}